
:root{
    --vermelho:hsl(0, 100%, 67%);
    --laranjaAvermelhado:hsl(39, 100%, 56%);
    --verde:hsl(166, 100%, 37%);
    --azulCobalto:hsl(234, 85%, 45%);

    /*Gradients*/
    --slateBlue: hsl(252, 100%, 67%);
    --royalBlue: hsl(241,81%,54%);
    /*Gradient circular*/
    --azulVioleta:  hsla(256, 72%, 46%, 1);
    --azulPersia: hsla(241, 72%, 46%, 0);

    --botao:#303b59;
}
